.RCB {
    &-tabs-container {
        display: flex;
    }

    &-tab-title {
        list-style-type: none;
        padding: 10px;
        cursor: pointer;

        &.selected {
            background: #FFF;
            font-weight: bold;
            border: 1px solid #cacaca;
            position: relative;
            z-index: 1;
        }
    }

    &-tabs-horizontal {
        flex-direction: column;
        
        .RCB-tab-title {
            display: inline-block;

            &.selected {
                border-bottom: 0;
                bottom: -1px;
            }
        }
    }

    &-tabs-vertical {
        .RCB-tab-title {
            display: block;

            &.selected {
                border-right: 0;
                right: -1px;
            }
        }
    }

    &-tab-content {
        list-style-type: none;
        border: 1px solid #cacaca;
        padding: 10px;

        &.selected {
            display: block;
        }
    }
}