body {
    color: #445870;
    font-family: "Avenir Next","Avenir", "Helvetica Neue", "Helvetica", "Roboto", "sans-serif";
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.list-item {
    list-style-type: none;
}