.RCB {
    &-notif {
        padding: 10px;
        &-success {
            color: #129274;
            border: 1px solid #2cb292;
            background-color: #b7d2cb;
        }

        &-error {
            color: #d25b5b;
            border: solid 1px #e75190;
            background-color: #fff9fc;
        }

        &-warning {
            color: #445870;
            border: solid 1px #f09c0a;
            background-color: #fffaf2;
        }

        &-info {
            color: #509DB9;
            border: solid 1px #509DB9;
            background-color: #DFF6FF;
        }
    }
}