.RCB {
    &-modal {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &-modal-body {
        background: #FFF;
        padding: 20px;
    }

    &-modal-header {
        display: flex;
        margin-bottom: 10px;
    }

    &-modal-title {
        flex: 1;
    }

    &-modal-close {
        cursor: pointer;
    }
}