/**
    Add all the styles here which suggests a theme for the component but is not a must have to use the component
**/

@import "./Button/buttonTheme.scss";
@import "./InlineModal/inlineModalTheme.scss";
@import "./NotificationComponent/notificationTheme.scss";
@import "./Table/tableTheme.scss";