.RCB {
    &-table {
        border-collapse: collapse;

        td {
            padding: 10px;
        }
    }

    &-th {
        background-color: #125c7f;
        color: #FFF;
        font-weight: normal;
    
        &.RCB-expand-column {
            width: 50px;
        }
    }

    &-tr {
    
        .expand-open {
            &:before {
                content: "▼"
            }
        }
    
        .expand-close {
            &:before {
                content: "▶"
            }
        }
    }

    &-parent-row {
        cursor: pointer;
    }

    &-even-tr {
        background-color: #82bed9;
    }

    &-odd-tr {
        background-color: #dcf1fa;
    }

    &-expanded-row {
        background-color: #ecf2f4;
    }

    &-paginate-wrapper {
        background-color: rgba(148, 170, 202, 0.14);
        text-align: right;
        font-size: 14px;
        padding: 5px;

        .per-page-count {
            display: inline-block;
        }

        .form-el-cont {
            margin: 0;
        }

        .inline-modal-btn {
            background: transparent;
            padding: 0;
        }
    }

    &-paginate-nav {
        display: inline-block;
        border-radius: 12px;
        border: solid 1px #8399ae;
        background-color: #f6f7f9;
        vertical-align: middle;
        margin-left: 15px;
        overflow: hidden;
    }

    &-page-nav {
        padding: 0 5px;
        text-decoration: none;
        color: inherit;
    
        &:first-child {
            border-right: solid 1px #8399ae;
        }
    
        &.disabled {
            color: #ccc;
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    &-no-data {
        text-align: center;
    }
}