.RCB {
    &-table {
        border-collapse: collapse;
        width: 100%;
    }

    &-th {
        &.RCB-expand-column {
            width: 50px;
        }
    }

    &-tr {
    
        .expand-open {
            &:before {
                content: "▼"
            }
        }
    
        .expand-close {
            &:before {
                content: "▶"
            }
        }
    }

    &-paginate-wrapper {
        .RCB-per-page-count {
            display: inline-block;
        }

        .RCB-form-el-cont {
            margin: 0;
        }

        .RCB-inline-modal-btn {
            background: transparent;
            padding: 0;
        }
    }

    &-paginate-nav {
        display: inline-block;
        border-radius: 12px;
        border: solid 1px #8399ae;
        background-color: #f6f7f9;
        vertical-align: middle;
        margin-left: 15px;
        overflow: hidden;
    }

    &-page-nav {
        padding: 0 5px;
        text-decoration: none;
        color: inherit;
    
        &:first-child {
            border-right: solid 1px #8399ae;
        }
    
        &.disabled {
            color: #ccc;
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    &-no-data {
        text-align: center;
    }
}