.RCB {
    &-inline-modal {
        position: relative;
        display: inline-block;

        &.hover-open {
            .RCB-inline-modal-body {
                display: none;
            }
        
            &:hover {
                .RCB-inline-modal-body {
                    display: block;
                }
            }
        }
    }

    &-inline-modal-body {
        position: absolute;
        z-index: 1;

        &.RCB-align-left {
            left: 0;
        }

        &.RCB-align-right {
            right: 0;
        }
    }
}